.p1 img{
    margin-left: 25%;
   
}

.p2 img{
    height: 100px;
    margin-left: 5%;
}

.vl{
    margin-left: 1px;
    height: 85%;
}

.p1 p{
    font-size: 1rem;
    text-align: left;
}

.p2 p{
    font-size: 1rem;
    text-align: left;
}