#title h1{
    font-size: 2.4rem;    
}

.section1 p{
    padding: 40px 0px;
}

.section2 img{
    margin: 17px 15px 30px -20px;
    height: 285px;
    padding-left: 55px;
}

.st img{
    height: 120px;
    margin: 250px 10px 10px 12px;
}

.events1 img{
    margin: 128px 15px 30px 15px;
}

.events2 img{
    margin: 162px 75px 0px -20px;
}

.events3 img{
    margin: 128px 15px 30px 15px;
}

.events4 img{
    margin: 410px 38px 0px -20px;
}

.inst3 img{
    margin: 450px 0px 12px 10px;
}

.type1 img{
    height: 115px;
    margin: 245px 0px 30px 0px;
}

.inst6 img{
    margin: 633px 0px 30px 0px;
}

.inst7 img{
    margin: 365px 0px 30px 0px;
}

.inst8 img{
    margin: 345px 0px 30px 0px;
}

.inst9 img{
    margin: 568px 0px 30px 0px;
}

.inst10 img{
    margin: 547px 0px 30px 0px;
}

.inst11 img{
    margin: 446px 0px 30px 0px;
}

.inst12 img{
    margin: 460px 0px 30px 0px;
}

.inst13 img{
    margin: 610px 0px 30px 0px;
}

.case1 img{
    height: 100px;
    margin: 130px 0px 10px 0px;
}

.case2 img{
    height: 100px;
    margin: 174px 0px 10px 0px;
}

.case3 img{
    height: 100px;
    margin: 130px 0px 10px 0px;
}

.case4 img{
    height: 100px;
    margin: 130px 0px 10px 0px;
}

.inst15 img{
    height: 120px;
    margin: 530px 0px 30px 0px;
}

.inst16 img{
    height: 120px;
    margin: 482px 0px 30px 0px;
}

.practices img{
    height: 120px;
    margin: 327px 0px 30px 0px;
}

.inst17 img{
    height: 120px;
    margin: 490px 0px 30px 0px;
}

.inst18 img{
    height: 120px;
    margin: 510px 0px 30px 0px;
}

.inst20a img{
    height: 120px;
    margin: 350px 0px 30px 0px;
}

.inst20b img{
    height: 120px;
    margin: 245px 0px 30px 0px;
}

.inst21a img{
    height: 120px;
    margin: 482px 0px 30px 0px;
}

.inst21b img{
    height: 120px;
    margin: 378px 0px 30px 0px;
}

#ref p{
    width: 100%;
}

.inst22{
    width: 100%;
}