.section2 img{
    margin-right: 12px;
}

.events1 img{
    height: 230px;
    margin: -8px 43px 20px 44px;
}

.events2 img{
    height: 230px;
    margin: -20px 90px -13px 27px;
}

.events3 img{
    height: 230px;
    margin: -3px 45px 15px 15px;
}

.events4 img{
    height: 230px;
    margin: 12px 45px -13px 35px;
}

.case1 img{
    height: 200px;
    margin: 2px 0px;
}  

.case2 img{
    height: 200px;
    margin: 2px 0px;
}    

.case3 img{
    height: 245px;
}

.case4 img{
    height: 200px;
    margin: 2px 0px;
}    
