.section1{
    padding: 60px 120px;
}

.section2 img{
    height: 370px;
    padding-left: 100px;
    margin: -1px 28px 28px -20px;
}

.st img{
    height: 160px;
    margin-top: 120px;
}

.events1 img{
    margin: 2px -11px 12px 50px;
    height: 240px;
}

.events2 img{
    margin: -20px 75px -13px -21px;
    height: 225px;
}

.events3 img{
    margin: -3px -9px -4px 23px;
    height: 215px;
}

.events4 img{
    height: 200px;
    margin: 12px 30px -13px -12px;
}

.inst3 img{
    margin: 270px 12px 12px 20px;
}

.inst6 img{
    margin: 460px 12px 12px 20px;
}

.inst7 img{
    margin: 222px 12px 12px 10px;
    height: 185px;
}

.inst8 img{
    margin: 355px 0px 12px 8px;
    height: 185px;
}

.inst9 img{
    margin: 190px 0px 12px 4px;
    height: 185px;
}

.inst10 img{
    margin: 340px 0px 12px 4px;
    height: 185px;
}

.inst11 img{
    margin: 340px 0px 12px 4px;
    height: 220px;
}

.inst12 img{
    margin: 190px 0px 12px 4px;
    height: 185px;
}

.inst13 img{
    margin: 340px 0px 12px 4px;
    height: 220px;
}

.case1 img{
    height: 130px;
    padding: 0px;
    margin-right: 8px;
}

.case2 img{
    height: 130px;
    padding: 0px;
    margin-right: 8px;
}

.case3 img{
    height: 130px;
    padding: 0px;
    margin-right: 5px;
}

.case4 img{
    height: 130px;
    padding: 0px;
    margin-right: 8px;
}

.inst15 img{
    margin: 310px 0px 12px 4px;
    height: 175px;
}

.inst16 img{
    margin: 385px 0px 12px 4px;
    height: 175px;
}

.inst17 img{
    margin: 392px 0px 12px 4px;
    height: 185px;
}

.inst18 img{
    margin: 392px 0px 12px 4px;
    height: 185px;
}

.inst19 img{
    margin: 150px 0px 12px 4px;
    height: 185px;
}

.inst20a img{
    margin: 227px 0px 12px 4px;
    height: 185px;
}

.inst20b img{
    margin: 227px 0px 12px 4px;
    height: 185px;
}

.inst21a img{
    margin: 316px 0px 12px 4px;
    height: 245px;
}

.inst21b img{
    margin: 316px 0px 12px 4px;
    height: 185px;
}

.inst21a img{
    margin: 316px 0px 12px 4px;
    height: 245px;
}

